@model Binke.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}
<style type="text/css">
    .contact-form input {
        padding: 0px 20px;
        background: #fff !important;
        border: 1px solid #f5f5f5;
        font-size: 14px;
        color: #333333;
        margin:0;
    }
</style>
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>
<script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<div class="bk-section contact-area section-padding-lg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-4">
                <h3>Reset your password</h3>
                <div class="contact-leftside">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "contact-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Code)

                        <p class="form-message">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label"><b>Email</b></label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Your Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <label class="control-label"><b>Password</b></label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <label class="control-label"><b>Confirm Password</b></label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <button style="height: 36px;" type="submit" class="btn btn-sm btn-primary"> Reset <i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                       
                    }
                </div>
            </div>
        </div>
    </div>
</div>
