@model Binke.ViewModels.PatientProfile
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Dashboard";
}
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>
<link href="~/Content/client/Dashboard.css" rel="stylesheet" />
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }

    .card {
        top: 0% !important;
        left: 0% !important;
        width: 100%;
        min-height: 400px;
        background: #fff;
        box-shadow: 0 20px 50px rgba(0,0,0,.1);
        border-radius: 10px;
        transition: 0.5s;
    }
</style>
<script src="~/Scripts/Patient/PatientMenu.js"></script>
@section pageheader{
    <h3><i class="fa fa-dashboard"></i> Dashboard </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active"> Dashboard </li>
        </ol>
    </div>
}


<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 style="padding: 5px">My Profile</h3>
            </div>
            <div class="panel-body">
                <!--Hover Rows-->
                <!--===================================================-->
                <table class="table table-hover table-vcenter">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Middle Name</th>
                            <th>Email Address</th>
                            <th>DOB</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.FirstName</td>
                            <td>@Model.LastName</td>
                            <td>@Model.MiddleName</td>
                            <td>@Model.Email</td>
                            <td>@Model.DateOfBirth</td>
                            <td>@Model.PhoneNumber</td>
                        </tr>
                    </tbody>
                </table>
                <!--===================================================-->
                <!--End Hover Rows-->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <hr class="style1">
</div>

<div class="row">
    <div class="col-md-12">

        <div class="form-inline">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inputPassword6">From Date</label>
                    <input type="text" id="txtFromDate" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inputPassword6">To Date</label>
                    <input type="text" id="txtToDate" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" id="btnView" class="btn btn-primary">View</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="subheader" style="margin-bottom:20px;"></div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="box">
                <h2>Booking Growth</h2>
                <canvas id="appointmentChart" width="400" height="300"></canvas>
                <label id="lblAdvChartNoRecord">No Record Available</label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="box">
                <h2>Order Growth</h2>
                <canvas id="patientChart" width="400" height="300"></canvas>
                <label id="lblPatientChartNoRecord">No Record Available</label>
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
            <div class="card">
                <div class="box">
                    <h2>Advertisements</h2>
                    <canvas id="advChart" width="400" height="300"></canvas>
                </div>
            </div>
        </div>*@
</div>

<div class="row">
    <div class="subheader" style="margin-bottom:20px;"></div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="box">
                <h2 style="padding-top:15px;">Recent Orders</h2>
                <div class="list-group" style="height:300px;overflow-y:auto;">
                    @if (ViewBag.RecentlyAddedOrdersList == null || ViewBag.RecentlyAddedOrdersList.Count == 0)
                    {
                        <label>No Record Available</label>
                    }
                    else
                    {
                        <table class="table table-striped custab">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Order Name</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    @*<th>Order Date</th>*@
                                </tr>
                            </thead>
                            @{int count = 0; }
                            @foreach (var item in ViewBag.RecentlyAddedOrdersList)
                            {
                                count = count + 1;
                                <tr>
                                    <td class="text-center">@count</td>
                                    <td class="text-center">@item.DrugName</td>
                                    <td class="text-center">@item.Quantity</td>
                                    <td class="text-center">@item.NetPrice</td>
                                    @*<td class="text-center">@item.CreatedDate</td>*@
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="box">
                <h2 style="padding-top:15px;">Recently Completed Bookings</h2>
                <div class="list-group" style="height:300px;overflow-y:auto;">
                    @if (ViewBag.RecentlyCompletedBookingList == null || ViewBag.RecentlyCompletedBookingList.Count == 0)
                    {
                        <label>No Record Available</label>
                    }
                    else
                    {
                        <table class="table table-striped custab">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Booking Date</th>
                                    <th>Booking Time</th>
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            @{int count1 = 0; }
                            @foreach (var item in ViewBag.RecentlyCompletedBookingList)
                            {
                                count1 = count1 + 1;
                                <tr>
                                    <td class="text-center">@count1</td>
                                    <td class="text-center">@item.SlotDate</td>
                                    <td class="text-center">@item.SlotTime</td>
                                    <td class="text-center">@item.Description</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="subheader" style="margin-bottom:20px;"></div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="box">
                <h2 style="padding-top:15px;">New Order</h2>
                <div class="list-group" style="height:300px;overflow-y:auto;">
                    @if (ViewBag.NewOrderList == null || ViewBag.NewOrderList.Count == 0)
                    {
                        <label>No Record Available</label>
                    }
                    else
                    {
                        <table class="table table-striped custab">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Order Name</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    @*<th>Order Date</th>*@
                                </tr>
                            </thead>
                            @{int count2 = 0; }
                            @foreach (var item in ViewBag.NewOrderList)
                            {
                                count2 = count2 + 1;
                                <tr>
                                    <td class="text-center">@count2</td>
                                    <td class="text-center">@item.DrugName</td>
                                    <td class="text-center">@item.Quantity</td>
                                    <td class="text-center">@item.NetPrice</td>
                                    @*<td class="text-center">@item.CreatedDate</td>*@
                                </tr>
                            }

                        </table>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="box">
                <h2 style="padding-top:15px;">Today's Booking</h2>
                <div class="list-group" style="height:300px;overflow-y:auto;">
                    @if (ViewBag.GetTodayBookingList == null || ViewBag.GetTodayBookingList.Count == 0)
                    {
                        <label>No Record Available</label>
                    }
                    else
                    {
                        <table class="table table-striped custab">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Booking Date</th>
                                    <th>Booking Time</th>
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            @{int count3 = 0; }
                            @foreach (var item in ViewBag.GetTodayBookingList)
                            {
                                count3 = count3 + 1;
                                <tr>
                                    <td class="text-center">@count3</td>
                                    <td class="text-center">@item.SlotDate</td>
                                    <td class="text-center">@item.SlotTime</td>
                                    <td class="text-center">@item.Description</td>
                                </tr>
                            }
                        </table>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Order List</h3>
                </div>
                <div class="panel-body">
                    <!--Default Tabs (Left Aligned)-->
                    <!--===================================================-->
                    <div class="tab-base mar-no">
                        <!--Tabs Content-->
                        <div class="tab-content">
                            <div id="demo-lft-tab-1" class="tab-pane fade active in">
                                <!--Hover Rows-->
                                <!--===================================================-->
                                <table class="table table-hover table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product</th>
                                            <th>Address</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th>Total Price</th>
                                            <th>Discount</th>
                                            <th>Net Price</th>
                                            <th>Comments</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.PatientOrderList != null && ViewBag.PatientOrderList.Count > 0)
                                        {
                                            foreach (var item in ViewBag.PatientOrderList)
                                            {
                                                <tr>
                                                    <td>@item.OrderId</td>
                                                    <td>@item.DrugName</td>
                                                    <td>@item.Address</td>
                                                    <td>@item.UnitPrice</td>
                                                    <td>@item.Quantity</td>
                                                    <td>@item.TotalPrice</td>
                                                    <td>@item.CouponDiscount</td>
                                                    <td>@item.NetPrice</td>
                                                    <td>@item.Description</td>
                                                    <td>
                                                        <div class="label label-table label-info">@item.OrderStatus</div>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                                <!--===================================================-->
                                <!--End Hover Rows-->
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!--End Default Tabs (Left Aligned)-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Booking List</h3>
                </div>
                <div class="panel-body">
                    <!--Default Tabs (Left Aligned)-->
                    <!--===================================================-->
                    <div class="tab-base mar-no">
                        <!--Tabs Content-->
                        <div class="tab-content">
                            <div id="demo-lft-tab-1" class="tab-pane fade active in">
                                <!--Hover Rows-->
                                <!--===================================================-->
                                <table class="table table-hover table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Booking Date</th>
                                            <th>Booking Time</th>
                                            <th>Provider</th>
                                            <th>Reason</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.PatientBookingList != null && ViewBag.PatientBookingList.Count > 0)
                                        {
                                            foreach (var item in ViewBag.PatientBookingList)
                                            {
                                                <tr>
                                                    <td>@item.SlotDate</td>
                                                    <td>@item.SlotTime</td>
                                                    <td>@item.InsCompanyName</td>
                                                    <td>@item.Description</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <!--===================================================-->
                                <!--End Hover Rows-->
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!--End Default Tabs (Left Aligned)-->
                </div>
            </div>
        </div>
    </div>*@
@*Changes made against Issue#25*@
<input type="hidden" id="hdAddress" value="@Model.Address" />
<input type="hidden" id="hdnFromDate" value="@ViewBag.FromDate" />
<input type="hidden" id="hdnToDate" value="@ViewBag.ToDate" />
@section pagespecific{
    @Scripts.Render("~/scripts/full-calendar")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#MnuPatient").addClass('menu-open');
            $("#MnuPatient ul li a p").each(function () {
                var text = $(this).text();
                if (text == "DashBoard") {
                    $(this).parent().addClass('active-sub-menu-item');
                    $(this).parent().find('i').removeClass('far fa-circle');
                    $(this).parent().find('i').addClass('far fa-dot-circle-o');
                }
                else {
                    $(this).parent().removeClass('active-sub-menu-item');
                    $(this).parent().find('i').removeClass('far fa-dot-circle-o');
                    $(this).parent().find('i').addClass('far fa-circle');
                }
            });

            $('#txtFromDate').datepicker({
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                autoclose: true,
                todayHighlight: true,
            });

            $('#txtToDate').datepicker({
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                autoclose: true,
                todayHighlight: true,
            });

            var fromDate = $("#hdnFromDate").val();
            var toDate = $("#hdnToDate").val();

            $("#txtFromDate").datepicker("setDate", fromDate);
            $("#txtToDate").datepicker("setDate", toDate);

            LoadDashboardData(fromDate, toDate);
        });

        $('#btnView').click(function () {
            var fromDate = $('#txtFromDate').val();
            var toDate = $('#txtToDate').val();
            LoadDashboardData(fromDate, toDate);
        });

        function LoadDashboardData(fromDate, toDate) {
            $.ajax({
                type: 'GET',
                url: "/Dashboard/LoadPatientDashboardGraphs" + "?FromDate=" + fromDate + "&ToDate=" + toDate,
                async: true,
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    BindGraphs(response);
                    if (response.AppointmentGraphLabels.length == 0) {
                        $('#appointmentChart').hide();
                        $('#lblAdvChartNoRecord').show();
                    }
                    else {
                        $('#lblAdvChartNoRecord').hide();
                        $('#appointmentChart').show();
                    }
                    if (response.PatientGraphLabels.length == 0) {
                        $('#patientChart').hide();
                        $('#lblPatientChartNoRecord').show();
                    }
                    else {
                        $('#lblPatientChartNoRecord').hide();
                        $('#patientChart').show();
                    }
                }
            });
        }


        function BindGraphs(data) {
            if (document.getElementById('appointmentChart') != null) {
                var ctxappointmentChart = document.getElementById('appointmentChart').getContext('2d');
                var appointmentChart = new Chart(ctxappointmentChart, {
                    type: 'bar',
                    data: {
                        labels: data.AppointmentGraphLabels,
                        datasets: [{
                            label: '# of Appointments',
                            data: data.AppointmentGraphData,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        }
                    }
                });
            }
            if (document.getElementById('patientChart') != null) {
                var ctxpatientChart = document.getElementById('patientChart').getContext('2d');
                var patientChart = new Chart(ctxpatientChart, {
                    type: 'line',
                    data: {
                        labels: data.PatientGraphLabels,
                        datasets: [{
                            label: '# of Orders',
                            data: data.PatientGraphData,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        }
                    }
                });
            }
            if (document.getElementById('advChart') != null) {
                var ctxadvChart = document.getElementById('advChart').getContext('2d');
                var advChart = new Chart(ctxadvChart, {
                    type: 'pie',
                    data: {
                        labels: ['Jan', 'Feb', 'March', 'April', 'May', 'Jun'],
                        datasets: [{
                            label: '# of Advertise',
                            data: [12, 19, 3, 5, 2, 3],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        }
    </script>
    @Scripts.Render("~/scripts/vector-map")
}