@using Binke.App_Helpers
@using Doctyme.Repository.Enumerable
@{
    string userRole = User.Identity.GetClaimValue(UserClaims.UserRole);
    string profileLink = userRole == UserRoles.Doctor ? "BasicInformation" : ("BasicInformation");
    //userRole = (userRole == UserRoles.Admin ? "" : userRole);
    //string profileLink = "Account/EditUserInfo";
}
<!--Brand logo & name-->
<!--================================-->
@*<nav class="main-header navbar navbar-expand navbar-white navbar-light">*@
@*<div class="navbar-header">*@
@*<a href="~/Dashboard/@userRole" class="navbar-brand">
        <i class="fa fa-cube brand-icon"></i>
        <div class="brand-title">
            <span class="brand-text">Doctyme</span>
        </div>
    </a>*@


@*</div>*@

@*</nav>*@
<!--================================-->
<!--End brand logo & name-->
<!--Navbar Dropdown-->
<!--================================-->
<div class="navbar-content clearfix">


    <ul class="nav navbar-top-links pull-left">

        <li><a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a></li>

    </ul>
    <!--Messages Dropdown-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    @*  <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-envelope fa-lg"></i>
                    <span class="badge badge-header badge-warning">9</span>
                </a>
                <!--Message dropdown menu-->
                <div class="dropdown-menu dropdown-menu-md with-arrow">
                    <div class="pad-all bord-btm">
                        <div class="h4 text-muted text-thin mar-no">You have 3 messages.</div>
                    </div>
                    <div class="nano scrollable">
                        <div class="nano-content">

                        </div>
                    </div>
                    <!--Dropdown footer-->
                    <div class="pad-all bord-top">
                        <a href="#" class="btn-link text-dark box-block">
                            <i class="fa fa-angle-right fa-lg pull-right"></i>Show All Messages
                        </a>
                    </div>
                </div>
            </li>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End message dropdown-->
            <!--Notification dropdown-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <i class="fa fa-bell fa-lg"></i> <span class="badge badge-header badge-danger">5</span> </a>
                <!--Notification dropdown menu-->
                <div class="dropdown-menu dropdown-menu-md with-arrow">
                    <div class="pad-all bord-btm">
                        <div class="h4 text-muted text-thin mar-no"> Notification </div>
                    </div>
                    <div class="nano scrollable">
                        <div class="nano-content">

                        </div>
                    </div>
                    <!--Dropdown footer-->
                    <div class="pad-all bord-top">
                        <a href="#" class="btn-link text-dark box-block"> <i class="fa fa-angle-right fa-lg pull-right"></i>Show All Notifications </a>
                    </div>
                </div>
            </li>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End notifications dropdown-->
        </ul>*@
    <ul class="nav navbar-top-links pull-right ">
        <!--Profile toogle button-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <li class="hidden-xs" id="toggleFullscreen">
            @*<a class="fa fa-expand" data-toggle="fullscreen" href="javascript:;" role="button">
                    <span class="sr-only">Toggle fullscreen</span>
                </a>*@
        </li>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End Profile toogle button-->
        <!--User dropdown-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <li id="dropdown-user" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                <span class="pull-right">
                    @if (User.IsInRole(UserRoles.SeniorCare))
                    {
                        <img class="img-circle img-user media-object" src="@Session["SeniorCareProfileImg"]" alt="Profile Picture">
                    }
                    else if (User.IsInRole(UserRoles.Doctor))
                    {
                        <img class="img-circle img-user media-object" src="~/Uploads/DoctorSiteImages/@Session["DoctorProfile"]" alt="Profile Picture">
                    }
                    else if (User.IsInRole(UserRoles.Pharmacy))
                    {
                         <img class="img-circle img-user media-object" src="@Session["PharmacyProfile"]" alt="Profile Picture">

                    }
                    else if (User.IsInRole(UserRoles.Admin))
                    {
                        <img class="img-circle img-user media-object" src="@StaticFilePath.AdminProfilePicture" alt="Profile Picture">
                    }
                    else if (User.IsInRole(UserRoles.Patient))
                    {
                        <img class="img-circle img-user media-object" src="@StaticFilePath.AdminProfilePicture" alt="Profile Picture">
                    }
                    else
                    {
                        <img class="img-circle img-user media-object" id="profilePicture" alt="Profile Picture" />
                    }
                </span>
                <div class="username hidden-xs">@User.Identity.GetClaimValue(UserClaims.FirstName)</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right with-arrow">
                <!-- User dropdown menu -->
                <ul class="head-list">
                    <li>
                        @*<a href="/@profileLink?id=@User.Identity.GetClaimValue(UserClaims.UserId)"> <i class="fa fa-user fa-fw"></i> Profile </a>*@
                        @if (User.IsInRole("Pharmacy"))
                        {
                            <a href='/Pharmacy/UserAccount' id="aUserProfile"> <i class="fa fa-user fa-fw"></i> Profile </a>
                        }
                        else if (User.IsInRole(UserRoles.Facility) || User.IsInRole(UserRoles.Admin))
                        {
                            <a href='@("/Facility/Profile/" + User.Identity.GetClaimValue("UserId"))' id="aUserProfile"> <i class="fa fa-user fa-fw"></i> Profile </a>
                        }
                        else if (User.IsInRole(UserRoles.SeniorCare))
                        {
                            <a href='@("/SeniorCare/Profile/" + User.Identity.GetClaimValue("UserId"))'> <i class="fa fa-user fa-fw"></i> Profile </a>
                        }
                        else if (User.IsInRole(UserRoles.Patient))
                        {
                            <a href='@("/Patient/Profile/" + User.Identity.GetClaimValue("UserId"))' id="aUserProfile"> <i class="fa fa-user fa-fw"></i> Profile </a>
                        }
                        else
                        {
                            <a href='@(User.Identity.GetClaimValue("UserRole") == "Doctor" ? "/UserAccount/" + User.Identity.GetClaimValue("UserId") : "/FacilityBasicInformation")' id="aUserProfile"> <i class="fa fa-user fa-fw"></i> Profile </a>
                        }
                    </li>
                    @*<li>
                            <a href="javascript:;">  <i class="fa fa-envelope fa-fw"></i> Messages </a>
                        </li>
                        <li>
                            <a href="javascript:;">  <i class="fa fa-gear fa-fw"></i> Settings </a>
                        </li>*@
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"> <i class="fa fa-lock fa-fw"></i> Logout </a>
                        }
                    </li>
                </ul>
            </div>
        </li>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End user dropdown-->


    </ul>
</div>


@Scripts.Render("~/bundles/jquery")
<script>
    if ('@User.IsInRole(UserRoles.Facility)' == 'True') {
        $.get("/Facility/GetOrgId/",
            function (response) {
                localStorage.setItem("organisationId", response.Data);

                var url = "/GetProfileLogo/" + response.Data;
                $.get(url, function (response) {
                    if (response.Status == 1 && response.Data) {
                        var imageUrl = "/Uploads/FacilitySiteImages/" + response.Data;
                        $.get(imageUrl)
                            .done(function () {
                                $("#profilePicture").prop("src", imageUrl)
                            }).fail(function () {
                                $("#profilePicture").prop("src", "@StaticFilePath.AdminProfilePicture")
                            })
                    }
                    else {
                        $("#profilePicture").prop("src", "@StaticFilePath.AdminProfilePicture")
                    }
                });
            });
    }
</script>

<!--================================-->
<!--End Navbar Dropdown-->
