@model Binke.ViewModels.OrganisationProfileViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Add Pharmacy Profile";
}

<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>
<style>
    label.switch {
        position: relative;
        display: inline-block;
        height: 23px;
        padding-left: 2.8em !important;
        cursor: pointer;
        color: red;
    }
</style>
@section pageheader{
    <h3><i class="fa fa-user-md"></i> Profile </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="/Pharmacy"> Pharmacy </a></li>
            @if (ViewBag.ID == 0)
            {
                <li class="active"> Create Pharmacy Profile </li>
            }
            else
            {
                <li class="active"> Edit Pharmacy Profile </li>
            }
        </ol>
    </div>
}

<div class="modal-body">

    @using (Html.BeginForm("AddEditPharmacyProfile", "Pharmacy", FormMethod.Post, new { id = "frmPharmacyProfile", @class = "form-horizontal form-bordered" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.OrganisationId)
        @Html.HiddenFor(model => model.OrganizationTypeID)
        @Html.HiddenFor(model => model.UserTypeID)
        if (ViewBag.ID > 0)
        {
            @Html.HiddenFor(model => model.CreatedDate)
            @Html.HiddenFor(model => model.CreatedBy)
        }
        @Html.HiddenFor(model => model.IsDeleted)
        @Html.HiddenFor(model => model.ApplicationUser_Id)

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
  
                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Pharmacy Name</b></label>
                            @Html.TextBoxFor(model => model.OrganisationName, new { @class = "form-control refName", placeholder = "Enter Pharmacy Name" })
                            @Html.ValidationMessageFor(model => model.OrganisationName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>NPI</b></label>
                            @Html.TextBoxFor(model => model.NPI, new { @class = "form-control", placeholder = "Enter Unique NPI" })
                            @Html.ValidationMessageFor(model => model.NPI, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Pharmacy Subpart</b></label>
                            @Html.TextBoxFor(model => model.OrganisationSubpart, new { @class = "form-control", placeholder = "Enter Pharmacy Subpart" })
                            @Html.ValidationMessageFor(model => model.OrganisationSubpart, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Alias Business Name</b></label>
                            @Html.TextBoxFor(model => model.AliasBusinessName, new { @class = "form-control", placeholder = "Enter Alias Business Name" })
                            @Html.ValidationMessageFor(model => model.AliasBusinessName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Organizaton EIN</b></label>
                            @Html.TextBoxFor(model => model.OrganizatonEIN, new { @class = "form-control", placeholder = "Enter Organizaton EIN" })
                            @Html.ValidationMessageFor(model => model.OrganizatonEIN, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Enumeration Date</b></label>
                            @Html.TextBoxFor(model => model.EnumerationDate, new { @class = "form-control datepicker", placeholder = "Enter Enumeration Date" })
                            @Html.ValidationMessageFor(model => model.EnumerationDate, "", new { @class = "text-danger" })
                        </div>


                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Status</b></label>
                            @Html.TextBoxFor(model => model.Status, new { @class = "form-control", placeholder = "Enter Status" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Credential</b></label>
                            @Html.TextBoxFor(model => model.AuthorisedOfficialCredential, new { @class = "form-control", placeholder = "Enter Official Credential" })
                            @Html.ValidationMessageFor(model => model.AuthorisedOfficialCredential, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>First Name</b></label>
                            @Html.TextBoxFor(model => model.AuthorizedOfficialFirstName, new { @class = "form-control", placeholder = "Enter Official First Name" })
                            @Html.ValidationMessageFor(model => model.AuthorizedOfficialFirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Last Name</b></label>
                            @Html.TextBoxFor(model => model.AuthorizedOfficialLastName, new { @class = "form-control", placeholder = "Enter Official Last Name" })
                            @Html.ValidationMessageFor(model => model.AuthorizedOfficialLastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Telephone Number</b></label>
                            @Html.TextBoxFor(model => model.AuthorizedOfficialTelephoneNumber, new { @class = "form-control", placeholder = "Enter Official Telephone" })
                            @Html.ValidationMessageFor(model => model.AuthorizedOfficialTelephoneNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Title Or Position</b></label>
                            @Html.TextBoxFor(model => model.AuthorizedOfficialTitleOrPosition, new { @class = "form-control", placeholder = "Enter Title Or Position" })
                            @Html.ValidationMessageFor(model => model.AuthorizedOfficialTitleOrPosition, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Name Prefix</b></label>
                            @Html.TextBoxFor(model => model.AuthorizedOfficialNamePrefix, new { @class = "form-control", placeholder = "Enter Official Name Prefix" })
                            @Html.ValidationMessageFor(model => model.AuthorizedOfficialNamePrefix, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Is Active</b></label>
                            @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>


                        <div class="col-md-4 mar-btm">
                            <label class="control-label"><b>Enabled Booking</b></label>
                            @Html.EditorFor(x => x.EnabledBooking, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.EnabledBooking, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
        </div>
    }

</div>

<div class="modal-footer">
    <button type="button" id="btnSave" class="btn btn-primary">Submit</button>
</div>

@section pagespecific{
    <script type="text/javascript">

    $("#OrganizationTypeID").val('1005');
    $("#UserTypeID").val('3');

    var ID = "@ViewBag.ID";

    if (ID == 0) {
        $("#IsDeleted").val('false');
        }

        

    $('.datepicker').datepicker({
        format: 'dd-MM-yy',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true
    });

    $("#btnSave").click(function () {
        $.validator.unobtrusive.parse($('#frmPharmacyProfile'));
        if ($("#frmPharmacyProfile").valid()) {
            $.post("@Url.Action("AddEditPharmacyProfile")", $("#frmPharmacyProfile").serialize(), function (response) {
                HandleResponse(response);
                if (response.Status) {
                    if (response.Data == "OrgOrganisation") {
                        bindExperienceList();
                        closeModal();
                    } else {
                        location.reload();
                    }
                }
            });
        }
    });



    </script>

    }