@model Binke.ViewModels.AmenityOptionViewModel

<div class="modal-header">
    <button Option="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">
        @(Model.Id == 0 ? "Add Amenity Option" : Model.IsViewMode ? "View Amenity Option" : "Edit Amenity Option")
    </h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("AddEditAmenityOption", "User", FormMethod.Post, new { id = "frmAmenityOption" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
      
        <div class="row">
            <div class="col-md-12">
                <label class="control-label"><b>Amenity Option Name</b></label>
                <div class="form-group">
                    @if (!Model.IsViewMode)
                    {
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Amenity Option Name" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Amenity Option Name",@readonly="true" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    }
                </div>
            </div>
            <div class="col-md-12">
                <label class="control-label"><b>Description</b></label>
                <div class="form-group">
                    @if (!Model.IsViewMode)
                    {
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Enter Description" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Enter Description",@readonly="true" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    }
                </div>
            </div>
           
        </div>

    }
</div>
<div class="modal-footer">
    <button Option="button" class="btn btn-default" data-dismiss="modal">Close</button>
    @if (!Model.IsViewMode)
    {
        <button Option="button" id="btnSave" class="btn btn-primary">Submit</button>
    }
    </div>

@Scripts.Render("~/scripts/full-calendar")

<script Option="text/javascript">
 
    $("#btnSave").click(function () {
        $.validator.unobtrusive.parse($('#frmAmenityOption'));
        if ($("#frmAmenityOption").valid()) {
            $.post("@Url.Action("AddEditAmenityOption")", $("#frmAmenityOption").serialize(), function (response) {
                HandleResponse(response);
                if (response.Status) {
                    if (response.Data == "AmenityOption") {
                        bindExperienceList();
                        closeModal();
                    } else {
                        location.reload();
                    }
                }
            });
        }
    });

   

</script>